/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
@import 'app.css';

div#papyri-browser {
  padding: 15px;
}

code {
  color: #db2777;
  font-weight: 400;
  font-size: 0.875em;
}

.not-implemented {
  border: 1px solid orange;
}

div#papyri-browser a:hover {
  text-decoration: underline;
}

#papyri-browser a {
  font-weight: bold;
}

#papyri-browser .view {
  overflow: scroll;
  height: 100%;
}

#papyri-browser {
  & span.signature-separator {
    white-space: pre;
  }

  & span.default-value {
    opacity: 30%;
  }
  & span.type-ann,
  & span.ret-ann {
    opacity: 30%;
    color: gray;
  }
}
