<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <style>
          .foo:hover{text-decoration:underline}
          .foo{font-weight:bold; color:black}
          .exists{font-weight:bold; color:black;text-decoration:none;}
          .local{font-weight:bold; color:blue;text-decoration:none;}
          .exists:hover{text-decoration:underline;color:black}
          .missing,.missing:hover{color:darkred;text-decoration:none;font-weight:normal}
          header{padding-top:1rem; padding-bottom:1rem;}
          dd::before {
            content: '';
          }
          dd {
               margin-left: 40px;
          }
          summary > h2 { display: inline }
    </style>
</head>
<body>

    <header>
        <nav>/ pydata / {{module}} / version / api / qa </nav>
</header>

<h1> Not all you docs are belong to us.... </h1>



<p> we could not render <code>{{ref}}</code> (yet), but keep calm and search below.</p>

    <div>
{% macro branch(entries) -%}
    
{%- for k,v in entries.items() %}
    {% if len(v) == 1  and '__link__' in v %}
        <a href='{{v['__link__']}}'>{{v['__link__']}}</a></br>
    {% else %}
            {% if k == '__link__' %}
                <a href='{{v}}'>{{v}}</a></br>

            {% else %}
           <details>
               <summary>{{k}}</summary>
               {{branch(v)}}
           </details>
            {%endif %}
       {%endif %}

{%endfor %}
{%- endmacro %}

{{ branch(tree)}}
    </div>


{% if backrefs %}
    <h1>Back References</h1>
    {% for r in backrefs %}
        <a class='' href='{{r}}.html'>{{r}}</a>
    {% endfor %}
{% endif %}
</body>
</html>
