{% macro example(entries) -%}
    {{-'>>> ' -}}
    {%- for index, type, text, t_ in entries %}
       {%- if text == '\n' -%}
           ...&nbsp;
       {%- else -%}
            {{text}}
       {%- endif -%}
    {%- endfor-%}
{%- endmacro %}

{%- macro render_paragraph(lines) -%}
        {%- for type,obj in paragraph(lines) -%}
            {%- if type == 'Word' -%}
                {{- obj.value -}}
            {%- elif type == 'Directive' %}
                {% set ref, exists = resolve(obj.text) %}
                {% if exists=='local' %}
                    {{-green(obj.text)-}}
                {% elif exists=='exists' %}
                    {{-blue(obj.text)-}}
                {% else %}
                    {{-red(obj.text)-}}
                {% endif %}
            {% elif type == 'Math' %}
                ${{obj.text}}$
            {% elif type == 'Verbatim' %}
                {{-yellow(obj.text)-}}
            {% else %}
                <code>Some {{type}}</code>
            {%- endif -%}
        {%- endfor -%}
{%- endmacro %}


{%- macro esc(val, stuff) -%}
[{{val}};m{{stuff}}[0;m
{%- endmacro %}

{% macro bold(stuff) -%}{{esc(1,stuff)}}{%- endmacro %}
{% macro underline(stuff) -%}{{esc(4,stuff)}}{%- endmacro %}
{% macro red(stuff) -%}{{esc(31,stuff)}}{%- endmacro %}
{% macro green(stuff) -%}{{esc(32,stuff)}}{%- endmacro %}
{% macro yellow(stuff) -%}{{esc(33,stuff)}}{%- endmacro %}
{% macro blue(stuff) -%}{{esc(34,stuff)}}{%- endmacro %}
{% macro magenta(stuff) -%}{{esc(35,stuff)}}{%- endmacro %}
{% macro cyan(stuff) -%}{{esc(36,stuff)}}{%- endmacro %}
{% macro white(stuff) -%}{{esc(37,stuff)}}{%- endmacro %}

{%- macro ref(r) -%}
   {%- if r.exists -%}
   {{-blue(r.name)-}}
   {%- else -%}
   {{-red(r.name)-}}
   {%- endif -%}
{% endmacro -%}

{{-green("green")}} refer to items within the same document, {{blue("blue")}} external {{underline("known")}} entities, {{red("red")}} entities we were not able to find and {{yellow("yellow")}} for code, and other "raw" items, typically between double backticks.

{% for section in doc.sections if doc[section] %}
   |{% if section not in ['Extended Summary','Signature', 'Summary'] %}
   | 
   |{{bold(section)}}
   | 
   |{% endif %}
   |{% if section in ['Summary', 'Extended Summary', 'Notes'] %}
   |
   |     {{render_paragraph(doc[section])}}
   |
   |{% elif section in ['Signature'] %}
   |   |{{ bold(underline(doc[section]))}}
   |
   |{% elif section in ['See Also'] %}
   |   |{% for sa in doc.see_also %}
   |   |     {{bold(ref(sa.name))}}
   |   |         {{render_paragraph(sa.descriptions)}}
   |   |{% endfor %}
   |{% elif section in ['Examples'] %}
   |   |{% for type,data in doc.edata %}
   |   |   |{% if type=='text' %}
   |   |   |
   |   |   |    {{render_paragraph([data])}}
   |   |   |
   |   |   |{% else %}
   |   |   |    {{ example(data[0]) }}
   |   |   |    {{ data[1]}}
   |   |   |{% endif -%}
   |   |{%- endfor %}
   |   |    {{underline("See:")}}
   |   |{{"        "}}
   |   |{%- for r in doc.refs -%}
   |   |   |{% set ref, exists = resolve(r) -%}
   |   |   |{% if exists=="exists" %}{{ blue(r) }},{% else %}{{ red(r) }},{% endif %}
   |   |{% endfor %}
   |{% elif section in ['Parameters', 'Returns', 'Raises', 'Yields', 'Attributes'] %}
   |   |{% for p in doc[section] %}
   |   |   |{% if p[0] %}
   |   |   |    {{bold(green(p[0]))}} : {{p[1]}}
   |   |   |{% else %}
   |   |   |    {{green(p[1])}}
   |   |   |{% endif %}
   |   |   |        {{render_paragraph(p[2])}}
   |   |{% endfor %}
   |{% else %}
   |    {% if doc[section] %}
   |        {{doc[section]}}
   |    {% endif %}
   |{% endif %}
{% endfor%}
{% if backrefs[0] or backrefs[1] %}
{{"\n"}}
{{underline(bold("Back References"))}}
    {% if backrefs[0] is not none %}
    {% for r in backrefs[0] %}
        {{r}}
    {% endfor %}
    {% endif%}
    {% if backrefs[1] is not none %}
        {% for k,v in backrefs[1].items() -%}
            {{"\n\n    "}}{{underline(k+':')}}{{"\n        "}}
        {%- for r in v %}
            {{-blue(r)}}{{", "-}}
        {%- endfor %}
    {% endfor %}
    {% endif%}
{% endif %}
