{% extends "skeleton.tpl.j2" %}

{% set current_type = 'Examples' %}

{% from 'macros.tpl.j2' import render_II, example with context %}

{%block api %}


    {% for data in ex.children %}
       {%- set type = data.__class__.__name__ -%}
       {% if type == 'Fig' %}
           <div><img src="/p/{{data.value.module}}/{{data.value.version}}/img/{{data.value.path}}"/></div>
       {% elif type[0] == 'M' %}
            {{ render_myst(obj) }}
       {% else %}
           {{render_II(data)}}
       {% endif %}
       
    {% endfor %}



{% endblock %}
