{% extends "skeleton.tpl.j2" %}

{% set current_type = 'Examples' %}

{% from 'macros.tpl.j2' import render_II, example with context %}

{%block api %}


    {% for data in ex.children %}
       {%- set type = data.__class__.__name__ -%}
       {% if type=='Text' %}
           {{render_paragraph(data)}}
       {% elif type == 'Fig' %}
           <div><img src="/p/{{module}}/{{version}}/img/{{data.value}}"/></div>
       {% elif type == 'Code2' %}
           {% if data.ce_status == 'syntax_error' -%}
               <span class='warning'>This example raised an error at execution time but compiled correctly</span>
           {%-elif data.ce_status == 'exception_in_exec' -%}
               <span class='warning'>This example is valid syntax, but raise an exception at execution</span>
           {%-elif data.ce_status == 'compiled' -%}
               <span class='note'>This example is valid syntax, but we were not able to check execution</span>
           {%-endif-%}
       <pre class='highlight {{data.ce_status}}'>{{example(data.entries) -}}

        {{- data.out}}</pre>
       {% else %}
           {{render_II(data)}}
       {% endif %}
       
    {% endfor %}



{% endblock %}
