{% macro d3script(graph) %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.js"></script>
        <style type="text/css">
        .node {}

        .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>
<script>

var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d"),
    width = canvas.width,
    height = canvas.height;
var searchRadius = 40;



var color = d3.scaleOrdinal()
    .range(d3.schemeCategory10);

var canvas_simulation = d3.forceSimulation()
    .force("charge", d3.forceManyBody().strength(-100))
    .force("link", d3.forceLink().distance(30).strength(0.1).iterations(1).id(function(d) { return d.id; }))
    .force("x", d3.forceX().strength(0.1))
    .force("y", d3.forceY().strength(0.2));


var canvas_graph = {{graph|safe}};

(function() {

  var pages = d3.nest()
      .key(function(d) { return d.mod; })
      .entries(canvas_graph.nodes)
      .sort(function(a, b) { return b.values.length - a.values.length; });

  var c = color.domain(pages.map(function(d) { return d.key; }));

    

  canvas_simulation
      .nodes(canvas_graph.nodes)
      .on("tick", ticked);

  canvas_simulation.force("link")
      .links(canvas_graph.links);

  d3.select(canvas)
      .on("mousemove", mousemoved)
      .call(d3.drag()
          .container(canvas)
          .subject(dragsubject)
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  function ticked() {
    context.clearRect(0, 0, width, height);
    context.save();
    context.translate(width / 2, height / 2);

    context.beginPath();
    canvas_graph.links.forEach(drawLink);
    context.strokeStyle = "#aaa";
    context.stroke();
    var margin = 10; 
    
    pages.forEach(function(page) {
      context.beginPath();
      page.values.forEach(drawNode);
      context.fillStyle = color(page.key);
      context.fill();
    });

    context.restore();

  }

  function dragsubject() {
    return canvas_simulation.find(d3.event.x - width / 2, d3.event.y - height / 2, searchRadius);
  }

  function mousemoved() {
    var a = this.parentNode, m = d3.mouse(this), d = canvas_simulation.find(m[0] - width / 2, m[1] - height / 2, searchRadius);
    if (!d) return a.removeAttribute("href"), a.removeAttribute("title");
    //a.setAttribute("href", "http://bl.ocks.org/" + (d.user ? d.user + "/" : "") + d.id);
    a.setAttribute("title", d.label );
  }
})();

function dragstarted() {
  if (!d3.event.active) canvas_simulation.alphaTarget(0.3).restart();
  d3.event.subject.fx = d3.event.subject.x;
  d3.event.subject.fy = d3.event.subject.y;
}

function dragged() {
  d3.event.subject.fx = d3.event.x;
  d3.event.subject.fy = d3.event.y;
}

function dragended() {
  if (!d3.event.active) canvas_simulation.alphaTarget(0);
  d3.event.subject.fx = null;
  d3.event.subject.fy = null;
}

function drawLink(d) {
  context.moveTo(d.source.x, d.source.y);
  context.lineTo(d.target.x, d.target.y);
   //context.moveTo(d.x + 3, d.y);
  //context.arc((d.target.x*9+d.source.x)/10, (d.target.y*9+d.source.y)/10, 2, 0, 2 * Math.PI);
}

function drawNode(d) {
  context.moveTo(d.x + 5, d.y);
  context.arc(d.x, d.y, d.val, 0, 2 * Math.PI);
}

</script>
<script type="text/javascript">
    var colors = d3.scaleOrdinal(d3.schemeCategory10);

    var svg = d3.select("svg");
    var width = svg.attr("width");
    var height = svg.attr("height");
    var node;
    var link;

    // syle for arrow head in the svg...
    svg.append('defs').append('marker')
        .attrs({'id':'arrowhead',
            'viewBox':'-0 -5 10 10',
            'refX':13,
            'refY':0,
            'orient':'auto',
            'markerWidth':13,
            'markerHeight':13,
            'xoverflow':'visible'})
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#999')
        .style('stroke','none');


    var svg_simulation = d3.forceSimulation()
        .force("charge", d3.forceManyBody().strength(-100))
        .force("link", d3.forceLink().distance(80).strength(0.01).iterations(10).id(function(d) { return d.id; }))
        .force("x", d3.forceX(width/2).strength(0.04))
        .force("y", d3.forceY(height/2).strength(0.06));





    var svg_graph = {{graph|safe}};
    (function (error, graph) {
            if (error) throw error;
        graph.nodes.forEach(function(d) { d.x = width*Math.random(); d.y = height*Math.random()});
        update(graph.links, graph.nodes);
        })(null, svg_graph);

    var edgelabels;

    function update(links, nodes) {
        link = svg.selectAll(".link")
            .data(links)
            .enter()
            .append("line")
            .attr("class", "link")
            .attr('marker-end','url(#arrowhead)');

        //link.append("title")
        //    .text(function (d) {return d.type;});

        edgepaths = svg.selectAll(".edgepath")
            .data(links)
            .enter()
            .append('path')
            .attrs({
                'class': 'edgepath',
                'fill-opacity': 0,
                'stroke-opacity': 0,
                'id': function (d, i) {return 'edgepath' + i}
            })
            .style("pointer-events", "none");

        edgelabels = svg.selectAll(".edgelabel")
            .data(links)
            .enter()
            .append('text')
            .style("pointer-events", "none")
            .attrs({
                'class': 'edgelabel',
                'id': function (d, i) {return 'edgelabel' + i},
                'font-size': 10,
                'fill': '#aaa'
            });

        edgelabels.append('textPath')
            .attr('xlink:href', function (d, i) {return '#edgepath' + i})
            .style("text-anchor", "middle")
            .style("pointer-events", "none")
            .attr("startOffset", "50%")
            .text(function (d) {return d.type});

        node = svg.selectAll(".node")
            .data(nodes)
            .enter()
            .append("g")
            .attr("class", "node")
            .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended)
            );

        node.append("a")
                .attr("xlink:href", function(node){return node.url})
            .append("circle")
                .attr("r", function(node){return node.val})
                .style("fill", function (d, i) {return colors(d.mod);})
                .style("stroke", "#FFF")

        node.append("title")
            .text(function (d) {return d.label;});

        node.append("text")
                //.attr("dx", function(node){return node.val+1})
                .attr("dy", +10)
                .attr("opacity", "0.5")
            .text(function (d) {arr = d.label.split('.'); return arr[arr.length-1]});

        svg_simulation
            .nodes(nodes)
            .on("tick", ticked);

        svg_simulation.force("link")
                .links(links)

    }

    function ticked() {
        link
            .attr("x1", function (d) {return d.source.x;})
            .attr("y1", function (d) {return d.source.y;})
            .attr("x2", function (d) {return d.target.x;})
            .attr("y2", function (d) {return d.target.y;});

        node
            .attr("transform", function (d) {return "translate(" + d.x + ", " + d.y + ")";});

        edgepaths.attr('d', function (d) {
            return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
        });

        edgelabels.attr('transform', function (d) {
            if (d.target.x < d.source.x) {
                var bbox = this.getBBox();

                rx = bbox.x + bbox.width / 2;
                ry = bbox.y + bbox.height / 2;
                return 'rotate(180 ' + rx + ' ' + ry + ')';
            }
            else {
                return 'rotate(0)';
            }
        });
    }

    function dragstarted(d) {
        if (!d3.event.active) svg_simulation.alphaTarget(0.3).restart()
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) svg_simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

</script>
{% endmacro %}
