{%- extends "skeleton.tpl.j2" %}

{%- block plus %}
    {%- for section in doc.content.keys() if doc.content[section] and len(doc.content[section]) -%}
        {%- if section not in ['Extended Summary','Signature', 'Summary'] -%}
        <a href="#section-{{section}}">{{section}}</a>
        {%-  endif -%}
    {%-  endfor -%}
    {%- if backrefs[0] or backrefs[1] -%}
        <a href="#section-backrefs">BackRef</a>
    {%  endif %}
{%- endblock %}

{%block api %}


{% from 'macros.tpl.j2' import render_inner, block_paragraph, render_paragraph, lines, block, myst_directive, example, render_II with context %}
{% from 'graph.tpl.j2' import d3script with context%}




{% macro ref(r) -%}
    {% if r.exists %}
                <a href="{{r.ref}}{{dothtml}}" class='exists'>{{r.name}}</a>
    {% else %}
                <b class='missing'>{{r.name}}</b>
    {% endif %}
{%- endmacro -%}



{% if doc.signature.value -%}
    <code class='signature'>{{doc.signature.value}}</code>
{%- endif -%}

{%- for section in doc.content.keys() if doc.content[section] -%}

    {% if (section not in ['Extended Summary','Signature', 'Summary']) and len(doc.content[section]) > 0 -%}
        <h3 id="section-{{section}}">{{section}}</h3>
    {% endif -%}
    {% if section in ['Extended Summary', 'Summary',  'Notes'] -%}
        <!-- rendering {{section}} -->
        {{render_II(doc.content[section])}}
    {%- elif section in ['Parameters', 'Returns', 'Raises', 'Yields', 'Attributes', 'Other Parameters', 'Warns'] and len(doc.content[section]) > 0  -%}
       <dl>
           {% for ps in doc.content[section] -%}
               {% for p in ps.children -%}
               {% if p[0] -%}
                   <dt><a id="{{p[0]}}">{{p[0]}}</a> : {{p[1]}}</dt>
               {% else -%}
                   <dt>{{p[1]}}</dt>
               {% endif -%}

               <dd>
                    {% for item in p[2] -%}
                        {{render_II(item)}}
                    {% endfor -%}
               </dd>
              {% endfor -%}
           {% endfor -%}
       </dl>

   {% else -%}
       {% if doc.content[section] == True -%}
        <pre>
       {{doc.content[section]}}
       </pre>
       {% endif -%}
   {% endif -%}
{% endfor%}
{% if doc.see_also -%}
    <h3> See Also</h3>
    {% for sa in doc.see_also -%}
        <dl>
            <dt>{{render_II(sa.name)}}</dt>
            <!-- This See also will be incorrect as the SeeAlsoItems are improperly deserialised. -->
            <dd>{{render_paragraph(sa.descriptions)}}</dd>
        </dl>
    {% endfor -%}
{% endif -%}

{% for s in doc.arbitrary -%}
    {% if s.title -%}
        <h{{s.level+1}}>{{s.title}}</h{{s.level+1}}>
    {% endif -%}

{{render_II(s)}}
{% endfor -%}
{% if doc.example_section_data -%}
    <h3 id="section-Examples">Examples</h3>
        {% for data in doc.example_section_data -%}
            {%- set type = data.__class__.__name__ -%}
            {% if type=='Text' %}
                {{render_paragraph(data)}}
            {% elif type == 'Fig' %}
                <div><img src="/p/{{data.value.module}}/{{data.value.version}}/img/{{data.value.path}}"/></div>
            {% elif type == 'Code2' %}
                {% if data.ce_status == 'syntax_error' -%}
                    <span class='warning'>This example does not not appear to be valid Python Syntax</span>
                {%-elif data.ce_status == 'exception_in_exec' -%}
                    <span class='error'>This example is valid syntax, but raise an exception at execution</span>
                {%-elif data.ce_status == 'compiled' -%}
                    <span class='note'>This example is valid syntax, but we were not able to check execution</span>
                {%-endif-%}
            <pre class='highlight {{data.ce_status}}'>{{example(data.entries) -}}
             {{- data.out -}}
            </pre>
            {% else %}
                {{render_II(data)}}
            {% endif %}
            
         {% endfor %}
         See :
     {% endif %}
    

{% if backrefs[0] or backrefs[1] %}
    <h3 id='section-backrefs'>Back References</h3>
    <p>The following pages refer to to this document either explicitly or contain code examples using this.</p>

    {% if backrefs[0] is not none %}
    {% for r in backrefs[0] %}
        {{ render_inner('RefInfo', r) }}
    {% endfor %}
    {% endif%}
    {% if backrefs[1] is not none %}
        {% for k,v in backrefs[1].items() %}
        <h4>{{k}}</h4>
        {% if len(v) < 10 %}
            <dl>
            {%- for r in v -%}
                <dd>{{- render_inner('RefInfo', r) -}}</dd>
            {%- endfor -%}
            </dl>
        {% else %}
            <details>
                <summary>{{v | length}} Elements</summary>
                <dl>
                {% for r in v %}
                    <dd>{{ render_inner('RefInfo', r) -}}</dd>
                {% endfor %}
                </dl>
            </details>
        {% endif %}
    {% endfor %}
    {% endif%}
{% endif %}

{% if graph %}
<h3>Local connectivity graph</h3>
<p>Hover to see nodes names; edges to Self not shown, Caped at 50 nodes.</p>

<p> Using a canvas is more power efficient and can get hundred of nodes ; but does not allow hyperlinks; , arrows
or text (beyond on hover) </p> 
<canvas class='graph' width="800" height="500"></canvas>
<p> SVG is more flexible but power hungry; and does not scale well to 50 + nodes. </p> 

<svg class='graph' width="600" height="500"></svg>

<p>All aboves nodes referred to, (or are referred from) current nodes; Edges from Self to other have been omitted
(or all nodes would be connected to the central node "self" which is not useful). Nodes are colored by the library
they belong to, and scaled with the number of references pointing them</p>
{% endif %}

<hr>

{%if meta.get('github_slug')%}
    GitHub : <a class='external' href='https://github.com/{{meta.github_slug}}/blob/{{meta.tag}}/{{doc.item_file}}#L{{doc.item_line}}'>{{doc.item_file}}#{{doc.item_line}}</a>
{% else %}
    File: {{doc.item_file}}#{{doc.item_line}}
{%endif%}<br/>

type: {{doc.item_type}} <br/>
Commit: <br/>

{% if graph is defined %}
    {{d3script(graph)}}
{% endif %}
{% endblock %}


