{% macro render_inner(type_, obj) -%}
    {%- if type_ == 'Words' -%}
        {{-obj.value-}}
    {%- elif type_ == 'Word' -%}
        {{-obj.value-}}
    {%- elif type_ == 'Directive' -%}
        <code>:{{obj.domain}}:{{obj.role}}:`{{obj.text}}`</code>
    {%- elif type_ == 'Link' -%}
        {# Links have : value, reference, kind exists#}
        {%- if obj.reference.kind=='local' -%}
            <code><a link href="#{{obj.reference.path}}" class='{{obj.kind}}'>{{obj.value}}</a></code>
        {%- elif obj.kind in ('api', 'exists' ) -%}
            <code><a link href="{{url(obj.reference)}}{{ext}}" class='exists'>{{obj.value}}</a></code>
        {% else %}
            {{unreachable(type_, obj.__class__.__name__, obj.__dict__)}}
        {%- endif -%}
    {% elif type_ == 'Math' %}
        <span class="tex2jax_process">${{obj.text}}$</span>
    {% elif type_ == 'Verbatim' %}
        <code class='verbatim'>{{obj.text}}</code>
    {% else %}
        <code>Some B |{{type_}}|</code>
        {{unreachable(obj)}}
    {%- endif -%}
{%- endmacro %}

{% macro block_paragraph(prg) -%}
    <p>
        {%- for obj in prg.inline -%}
            {{- render_inner(obj.__class__.__name__, obj) -}} 
        {%- endfor -%}
        {%- for obj in prg.inner -%}
            {{- render_II(obj) -}} 
        {%- endfor -%}
    </p>
{% endmacro %}


{% macro render_paragraph(prgs) -%}
    {% for prg in prgs %}
        {% if not prg.__class__.__name__ ==  'Paragraph' %}
            {{ unreachable('Not a Paragraph', prg) }}
        {% endif %}
        {{block_paragraph(prg)}}
    {%- endfor %}
{%- endmacro %}




{%- macro lines(self) -%}{%- for x in self %}
{{x.text}}
{%- endfor -%}
{%- endmacro %}


{% macro block(self) -%}
{{-lines(self.lines)}}
{%- if self.wh -%}
{{lines(self.wh)}}
{%- endif -%}
{%- if self.ind -%}
    {{-lines(self.ind)-}}
{%- endif -%}
{%- endmacro %}

{% macro block_directive(dve) -%}
<div class='block_directive'>
    <div class='head'>.. {{dve.directive_name}}:: {{dve.args0}}</div>
    {% if dve.inner %}
        {{block_paragraph(dve.inner)}}
    {% endif %}
</div>
{% endmacro %}

{% macro block_admonition(adm) -%}
<div class='admonition'>
    <div class='head'> {{adm.kind}}</div>
    {% for it in adm.children %}
        {{render_II(it)}}
    {% endfor %}
</div>
{% endmacro %}


{% macro render_II(obj) -%}
    {% if obj.__class__.__name__ == 'Paragraph' %}
        {{block_paragraph(obj)}}
    {% else %}
       {%- set type = obj.__class__.__name__ -%}
       {%- if type in ('Word', 'Directive', 'Link', 'Math', 'Verbatim','Words') -%}
            {{unreachable()}}
       {%- elif type == 'Directive' -%}
           {{unreachable()}}
       {% elif type == 'Math' %}
           {{unreachable()}}
       {% elif type == 'BlockDirective' %}
           {{block_directive(obj)}}
        {% elif type == 'Admonition' %}
            {{block_admonition(obj)}}
       {% elif type == 'Verbatim' %}
           {{unreachable()}}
       {% elif type == 'Paragraph' %}
        {{block_paragraph(obj)}}
       {% elif type == 'BlockVerbatim' %}
            <pre>
           {%- for l in obj.lines.dedented() -%}
{{-l.text}}{% if not loop.last %}{{-'\n'-}}{%- endif -%}
           {%- endfor -%}</pre>
       {% elif type == 'Block' %}
           {{block(obj)}}
           {{unreachable(obj)}}
       {% elif type == 'DefList' %}
          <!-- deflist -->
           <dl>
               {% for item in obj.children %}
               <dt>{{render_II(item.dt)}}<dt>
               <dd>{% for it in item.dd %}

                       {{render_II(it)}}
                  {% endfor %}
               <dd>
               {%endfor %}  
           </dl>
       {% elif type == 'DefListItem' %}
           <pre>DEFLIST ITEM
           {{-block(obj)-}}
           </pre>
       {% elif type == 'Example' %}
           <pre>{{block(obj)-}}</pre>
       {% elif type == 'Section' %}
           {% for item in obj %}
               {{ render_II(item) }}
           {% endfor %}
       {% elif type == 'BulletList' %}
           # TODO : finish BulletList rendering
           <ul>
               {%- for item in obj.value %}
               <li>{{render_II(item)}}</li>
               {% endfor %}
            <ul>
       {% elif type == 'EnumeratedList' %}
           # TODO : finish EnumeratedList rendering
           <ol>
               {%- for item in obj.value %}
               <li>{{render_II(item)}}</li>
               {% endfor %}
            <ol>
       {% elif type == 'BlockQuote' %}
            # TODO : finish blockquote rendering
            <pre>
               {%- for line in obj.value %}{{line}}
               {% endfor %}
            </pre>

       {% else %}
           <code>Some A {{type}} Not implemented yet</code>
           {{unreachable(type, obj)}}
           {%- for l in obj.lines -%}
{{l._line}}{% if not loop.last %}{{-'\n'-}}{% endif %}
           {%- endfor -%}</pre><pre>
            {%- for l in obj.ind -%}
{{l._line}}{% if not loop.last %}{{-'\n'-}}{% endif %}
           {%- endfor -%}</pre>
       {%- endif -%}
    {%- endif %}
{%- endmacro %}

{%- macro example_old(entries) -%}
<span class='nsl'>{{'>>> ' -}}</span>{{ '' -}}
    {%- for text, t_, cc in entries %}
        {%- if text == '\n' -%}
            <br><span class='nsl'>...&nbsp;</span>
        {%- else -%}
            {%- if t_ -%}
            <a class="foo {{cc}}" title={{t_}}, href="{{t_}}{{ext}}">{{text}}</a>
            {%- else -%}
            <span class="{{cc}}">{{text}}</span>
            {%- endif -%}
        {%- endif -%}
    {%- endfor-%}
    {{-'\n'}}
{%- endmacro %}



{%- macro example(entries) -%}
<span class='nsl'>{{'>>> ' -}}</span>{{ '' -}}
    {%- for token in entries -%}
        {%- if token.link.__class__.__name__ == 'Link' -%}
            <a class="foo {{token.type}}", href="{{url(token.link.reference)}}{{ext}}">{{token.link.value}}</a>
        {%- else -%}
            {%- if token.link == '\n' -%}
                <br><span class='nsl'>...&nbsp;</span>
            {%- else -%}
                <span class="{{token.type}}">{{token.link}}</span>
            {%- endif -%}
        {%- endif -%}
    {%- endfor-%}
    {{-'\n'}}
{%- endmacro %}






