<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>


    <img src='/logo.png' style='width:200px;display: block; margin-left: auto; margin-right: auto;'>
    <h1 style='display: block; margin-left: auto; margin-right: auto;'>PaPyRi</h1>
    <div>
{% macro branch(entries) -%}
    {%- for k,v in entries.items() %}
        {% if len(v) == 1  and '__link__' in v %}
            <a href='{{v['__link__']}}'>{{v['__link__']}}</a><br/>
        {% else %}
                {% if k == '__link__' %}
                    <a href='{{v}}'>{{v}}</a><br/>

                {% else %}
            <details>
                <summary>{{k}}</summary>
                {{branch(v)}}
            </details>
                {%endif %}
        {%endif %}

    {%endfor %}
{%- endmacro %}

{{ branch(tree)}}
    </div>


</body>
</html>
