{% include 'head.tpl.j2' %}
<body class="tex2jax_ignore">
    <header>
            <brand><i class="fab fa-python"></i><a href='/'>Home</a></brand>
        <nav> / <a href='/' >p</a>  &nbsp;/&nbsp; 
                <div class="dropdown">
                <a href={{module}}>{{module}}</a>&nbsp;/&nbsp;
                    <div class="dropdown-content">
                            {% for link,name in parts[module] -%}
                                <a href="{{url(link)}}{{ext}}">{{link.path}}</a>
                            {% endfor %}
                     </div>
                </div>
                <div class="dropdown">
                <a href='/p/{{module}}/{{version}}/api/{{module}}{{ext}}'>{{version}}</a>&nbsp;/&nbsp;
                    <div class="dropdown-content">
                            {% for v in [version] -%}
                                <a href="/p/{{module}}/{{v}}/api/{{module}}{{ext}}">{{v}}</a>
                            {% endfor %}
                    </div>
                </div>

                <div class="dropdown">
                    <a href='/p/{{module}}/{{version}}/api/{{module}}{{ext}}'>{{current_type}}</a>&nbsp;/&nbsp;
                    <div class="dropdown-content">
                        <a href="/p/{{module}}/{{version}}/api/{{module}}{{ext}}">API</a>
                        <a href="/p/{{module}}/{{version}}/gallery">Gallery</a>
                        <a href="/p/{{module}}/{{version}}/examples">Examples</a>
                     </div>
                </div>

            {% for p,links in parts.items() %}
                {% if links %}
                    <div class="dropdown">
                        {% if p =='+' %}
                            <a class="dropbtn" >{{p}}</a>{% if not loop.last %}.{% endif %}
                        {% else %}
                            <a class="dropbtn" href='{{parts_links[p]}}{{ext}}'>{{p}}</a>{% if not loop.last %}.{% endif %}
                        {% endif %}
                        {% if not loop.first %}
                            <div class="dropdown-content">
                            {% for link,name in links -%}
                                <a href="{{url(link)}}{{ext}}">{{name}}</a>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div><!--end dropdown-->
                {% endif -%}
            {% endfor -%}
        </nav>
    </header>
<div class='container'>
    <div class="sidenav">
    {% if not logo %}
        <i class="fab fa-python"></i>
        <a href="#">Project Logo ^</a>
    {% else %}
        <img src="/p/{{module}}/{{version}}/img/{{logo}}"/>
    {% endif %}
    <a href="#">{{module}}</a>
    <a href="#">{{version}}</a>
    {% if meta and meta.get('pypi') %}
        <a class='external'  href="https://pypi.org/project/{{meta.pypi}}">Pypi</a>
    {% endif %}
    {% if meta and meta.get('github_slug') %}
        <a class='external' href="https://github.com/{{meta.github_slug}}">GitHub</a>
    {% endif %}
    {% if meta and meta.get('homepage') %}
        <a class='external' href="{{meta.homepage}}">Homepage</a>
    {% endif %}
    <hr/>
    {% if meta and meta.get('docspage') %}
        <a class='external' href="{{meta.docspage}}">Other Docs</a>
    {% endif %}
    <hr/>
    {% block plus %}
    {% endblock %}
    </div><!--end sidenav-->

    {% block api %}
    {% endblock api %}

</div>
</body>
</html>
