[global]
module = 'matplotlib'
logo = "img/matplotlib_logo.png"
wait_for_plt_show = false
exec_failure = "fallback"
submodules = [ "image", "pyplot", "axes", "axes._base", "dviread", "image","figure",'colors', 'transforms']
examples_folder = '/Users/bussonniermatthias/dev/matplotlib/examples/'
early_error = false
execute_exclude_patterns = [
 "matplotlib.axes._base:_AxesBase.set_prop_cycle",
 "matplotlib.axes._axes:Axes.axvspan",
 "matplotlib.backend_bases:FigureCanvasBase.new_timer",
 "matplotlib.cbook:pts_to_prestep",
 "matplotlib.cbook:pts_to_poststep",
 "matplotlib.cbook:pts_to_midstep",
 "matplotlib._api:check_shape",
 "matplotlib._api:check_isinstance",
 "matplotlib._api:check_in_list",
 "matplotlib._api:check_getitem",
 # examples are not meant to be executed, 
 # contain undefined variables
 "matplotlib.axes._axes:Axes.text"
 # Method in example used as standalone function,-> missing self
 "matplotlib.axes._axes:Axes.axhline"
 "matplotlib.axes._axes:Axes.axvline"
   ]
examples_exclude = [
# jedi inference issue
"logos2.py",
"multipage_pdf.py",
"load_converter.py",
"date_index_formatter2.py",
# all sphinx gallery skip...
"sgskip.py",
# other
"pathpatch3d.py",
"units/artist_tests.py",
"units/bar_unit_demo.py",
"units/radian_demo.py",
"units/units_scatter.py",
"units/ellipse_with_units.py",
"units/units_sample.py",
"units/annotate_with_units.py",
"units/bar_demo2.py",
"text_labels_and_annotations/usetex_baseline_test.py",
"text_labels_and_annotations/usetex_fonteffects.py",
"text_labels_and_annotations/tex_demo.py",
"text_labels_and_annotations/demo_annotation_box.py",
"text_labels_and_annotations/autowrap.py",
"text_labels_and_annotations/fonts_demo.py",
"text_labels_and_annotations/date_index_formatter.py",
"text_labels_and_annotations/text_rotation.py",
"text_labels_and_annotations/legend_demo.py",
"text_labels_and_annotations/accented_text.py",
"text_labels_and_annotations/date.py",
"text_labels_and_annotations/watermark_text.py",
"text_labels_and_annotations/font_file.py",
"showcase/bachelors_degrees_by_gender.py",
"showcase/integral.py",
"showcase/anatomy.py",
"showcase/xkcd.py",
"axisartist/demo_parasite_axes2.py",
"axisartist/demo_floating_axis.py",
"axisartist/simple_axisline3.py",
"axisartist/demo_parasite_axes.py",
"axisartist/simple_axis_pad.py",
"axisartist/simple_axisline.py",
"axisartist/demo_axisline_style.py",
"axisartist/simple_axis_direction03.py",
"axisartist/demo_ticklabel_direction.py",
"axisartist/simple_axis_direction01.py",
"axisartist/simple_axisartist1.py",
"axisartist/demo_ticklabel_alignment.py",
"axisartist/demo_axis_direction.py",
"axisartist/axis_direction.py",
"axisartist/demo_floating_axes.py",
"lines_bars_and_markers/curve_error_band.py",
"lines_bars_and_markers/eventcollection_demo.py",
"lines_bars_and_markers/multicolored_line.py",
"lines_bars_and_markers/scatter_with_legend.py",
"lines_bars_and_markers/linestyles.py",
"lines_bars_and_markers/line_demo_dash_control.py",
"lines_bars_and_markers/timeline.py",
"lines_bars_and_markers/vline_hline_demo.py",
"lines_bars_and_markers/categorical_variables.py",
"lines_bars_and_markers/eventplot_demo.py",
"lines_bars_and_markers/fill.py",
"lines_bars_and_markers/span_regions.py",
"lines_bars_and_markers/bar_stacked.py",
"lines_bars_and_markers/gradient_check_in_listbar.py",
"lines_bars_and_markers/xcorr_acorr_demo.py",
"lines_bars_and_markers/fill_betweenx_demo.py",
"lines_bars_and_markers/scatter_symbol.py",
"lines_bars_and_markers/scatter_custom_symbol.py",
"lines_bars_and_markers/markevery_demo.py",
"lines_bars_and_markers/joinstyle.py",
"lines_bars_and_markers/marker_reference.py",
"lines_bars_and_markers/multivariate_marker_plot.py",
]
execute_doctests = true

[global.expected_errors]
IncorrectInternalDocsLen = [
    "matplotlib.dates:ConciseDateFormatter",
    "matplotlib.font_manager:win32FontDirectory",
    "matplotlib.patches:ConnectionStyle._Base",
    "matplotlib.pyplot:rc",
    "matplotlib.ticker:LogLocator",
    "matplotlib.ticker:LogLocator.__init__",
    "matplotlib.transforms:Transform.__sub__",
    "matplotlib.tri._triinterpolate:_safe_inv22_vectorized",
    "matplotlib:rc",
    ]
WrongTypeAtField = [
    "matplotlib.artist:Artist.set_agg_filter",
    "matplotlib.artist:Artist.set_sketch_params",
    "matplotlib.axes._base:_AxesBase.set_prop_cycle",
    "matplotlib.axes._base:_AxesBase.set_xbound",
    "matplotlib.axes._base:_AxesBase.set_xlim",
    "matplotlib.axes._base:_AxesBase.set_ybound",
    "matplotlib.axes._base:_AxesBase.set_ylim",
    "matplotlib.cm:ScalarMappable.set_clim",
    "matplotlib.image:thumbnail",
    "matplotlib.patches:FancyArrowPatch.set_connectionstyle",
    "matplotlib.patches:FancyBboxPatch.set_boxstyle",
    "matplotlib.spines:Spine.set_bounds",
    ]
[global.implied_imports]
_api = 'matplotlib._api'

