{%- extends "skeleton.tpl.j2" %}

{%block api %}
<div class='article'>


{% from 'macros.tpl.j2' import render_paragraph, example, render_myst_json, render_II with context %}
{% from 'graph.tpl.j2' import d3script with context%}



{{render_myst_json(myst_root)}}


{% if backrefs[0] or backrefs[1] %}
    <h3 id='section-backrefs'>Back References</h3>
    <p>The following pages refer to to this document either explicitly or contain code examples using this.</p>


    {% if backrefs[1] is not none %}
        {% for k,v in backrefs[1].items() %}
        <h4>{{k}}</h4>
        <details>
            <summary>{{v | length}} Elements</summary>
            <dl>
            {% for r in v %}
                <dd>{{ render_II(r) -}}</dd>
            {% endfor %}
            </dl>
        </details>
    {% endfor %}
    {% endif%}
{% endif %}

{% if graph %}
<h3>Local connectivity graph</h3>
<p>Hover to see nodes names; edges to Self not shown, Caped at 50 nodes.</p>

<p> Using a canvas is more power efficient and can get hundred of nodes ; but does not allow hyperlinks; , arrows
or text (beyond on hover) </p> 
<canvas class='graph' width="800" height="500"></canvas>
<p> SVG is more flexible but power hungry; and does not scale well to 50 + nodes. </p> 

<svg class='graph' width="600" height="500"></svg>

<p>All aboves nodes referred to, (or are referred from) current nodes; Edges from Self to other have been omitted
(or all nodes would be connected to the central node "self" which is not useful). Nodes are colored by the library
they belong to, and scaled with the number of references pointing them</p>
{% endif %}

<hr>

{%if meta.get('github_slug')%}
    GitHub : <a class='external' href='https://github.com/{{meta.github_slug}}/blob/{{meta.tag}}/{{item_file}}#L{{item_line}}'>{{item_file}}#{{item_line}}</a>
{% else %}
    File: {{item_file}}#{{item_line}}
{%endif%}<br/>

{% if graph is defined %}
    {{d3script(graph)}}
{% endif %}
</div>
{% endblock %}


