
{% include 'head.tpl.j2' %}
<body>
  <div id='root'></div>
  <script>render('root')</script>
    
    <p>The Papyri project attempt to provide most of the scientific Python docs in a single place will cross-projects
    bidirectional crosslinking<p>

    <p>Get started with one of the following projects</p>
    <div class='search'>
        <input type='search' placeholder='Search not functional yet.'>
    </div>
    <div class='cards'>
        {% for module, versions, logo in data %}
            <div class="card" >
            <a href="/p/{{module}}/{{versions[0]}}/api/{{module}}{{dothtml}}">
                <div>
                {% if logo %}
                    <span class="helper">
                    </span>
                    <img src="/p/{{module}}/{{versions[0]}}/img/{{logo}}" alt="Project logo"/>
                {% endif %}
                </div>
            </a>
            <div>
                <h4><b>{{module}}</b></h4>
                <p>
                {% for version in versions %}
                    <a href='/p/{{module}}/{{version}}/api/{{module}}{{dothtml}}'>{{version}}</a>
                    {% if not loop.last %} – {% endif %}
                {% endfor%}
                </p>
            </div>
            </div>
        {% endfor%}
        <div>
</body>
