{% extends "skeleton.tpl.j2" %}
{% set current_type = 'TocTree' %}
{% from 'macros.tpl.j2' import render_paragraph, lines, block, myst_directive, example, render_II with context %}

{% macro tci(obj) -%}
    {%if obj.children%}
        <details class='toctree' open >
        <summary><a class="toctree" href="{{url(obj.ref)}}">{{obj.title}}</a></summary>
            <ul>
            {% for c in obj.children %}
                <li>{{tci(c)}}</li>
            {% endfor %}
            </ul>
        </details>
    {% else %}
        <a class="toctree" href="{{url(obj.ref)}}">{{obj.title}}</a>
    {%endif%}
{% endmacro %}

{%block api%}
    <ul>
    {% for toctree in  toctrees%}
        <li> {{tci(toctree)}}</li>
    {% endfor %}
    </ul>
{% endblock %}
