# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: 
    inputs:
      name:
        description: 'Reason'
        required: false
        default: 'Just Cause'

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov flit scipy numpy matplotlib 'velin>=0.0.5' pytest-trio tree_sitter coverage pipdeptree 'jinja2<3.1'
        flit install --symlink
        git clone https://github.com/stsewd/tree-sitter-rst
        papyri build-parser
    - name: dependency tree
      run: |
        pipdeptree
    - name: dependency tree (reversed)
      run: |
        pipdeptree -r
    - name: Misc cli
      run: |
        coverage run -m papyri --help
        ls -al
    - name: Gen numpy
      run: |
        coverage run -a -m papyri gen examples/numpy.toml  --no-exec --no-infer --no-narrative
        sleep 1 # time for coverage to write its stuff
    - name: Gen Scipy
      run: |
        coverage run -a -m papyri gen examples/scipy.toml  --no-exec --no-infer
        sleep 1 # time for coverage to write its stuff
    - name: Self gen
      run: |
        coverage run -a -m papyri gen examples/papyri.toml  --exec --no-narrative
        sleep 1 # time for coverage to write its stuff
    - name: Ingest
      run: |
        coverage run -a -m papyri ingest  --no-relink ~/.papyri/data/papyri_0.0.8
        coverage run -a -m papyri ingest  --no-relink ~/.papyri/data/*
        coverage run -a -m papyri relink
        coverage run -a -m papyri render --ascii

        # coverage html
        # papyri serve
        ls -al
        # ls -al ~/.papyri/html/p/numpy/

    - name: Install Vercel CLI
      run: npm install --global vercel@latest
    - name: Deploy Project Artifacts to Vercel
      run: vercel deploy --token=${{ secrets.VERCEL_TOKEN }} /home/runner/.papyri/html

    - name: Test with pytest
      run: |
        pytest --cov=papyri --cov-append
        ls -al
    - name: Convert .coverage sql to xml for upload
      run: |
        coverage report
        coverage xml
        ls -la
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
